{% extends "base.html" %}

{% block content %}

<h3 class="index-h3">{{ tr(product.friendly_name) }}</h3>

<!--Product description-->
<div class="epmain" id="download-page-intro">
    <div>
        <div class="epimage">
            <img draggable="false" src="/images/{{ product.picture }}" alt="Product picture">
        </div>
    </div>
    <div class="epdescription">
        {% for extended_description in product.extended_description %}
        <div class="extended_description">
            <p>{{ tr(extended_description) | safe }}</p>
        </div>
        {% endfor %}
        <div class="highlight-container">
            {% for highlight in product.highlights %}
            <div class="highlight">
                {{ tr(highlight) }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!--Full software kit-->



{% if archive %}
<div class="download-all-block">
    <a class="download-all-button" href="{{ archive.link }}">
        <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32"><path fill="#fff" d="M480-328.462 309.233-499.229l42.153-43.384 98.615 98.615v-336.001h59.998v336.001l98.615-98.615 42.153 43.384L480-328.462ZM252.309-180.001q-30.308 0-51.308-21t-21-51.308v-108.46H240v108.46q0 4.616 3.846 8.463 3.847 3.846 8.463 3.846h455.382q4.616 0 8.463-3.846 3.846-3.847 3.846-8.463v-108.46h59.999v108.46q0 30.308-21 51.308t-51.308 21H252.309Z"/></svg>
        <div class="download-all-button-text">{{ tr("Скачать") }}</div>
    </a>
    <div class="download-all-text">
        <div class="download-all-friendly-name">
            {{ tr(archive_description.friendly_name) }}
        </div>
        {% if archive_description.description %}
            <div class="download-all-description">
                {{ tr(archive_description.description) | safe }}
            </div>
        {% endif %}
    </div>
</div>
{% endif %}


<!--Software categories-->

{% for category in categories if category.name in all_software %}
{% if latest_releases[category.name] %}
<div class="download-header-block">
    <img class="category-icon" draggable="false" src="/web/icons/{{ category.icon }}" alt="Category icon">
    <h3 class="download-h3"> {{ tr(category.friendly_name) }}</h3>
</div>
{% if category.description %}
<div class="download-text">
    {{ tr(category.description) | safe }}
</div>
{% endif %}
<table>
    <tbody>
    <tr>
        <th>{{ tr(link) }}</th>
        <th>{{ tr(version) }}</th>
        <th>{{ tr(release_date) }}</th>
        <th>{{ tr(size) }}</th>
    </tr>
    {% for file in latest_releases[category.name] %}
    <tr>
        <td class="td4"><a href="{{ file.link }}">{{ file.basename }}</a></td>
        <td class="td1">{{ file.version }}</td>
        <td class="td2">{{ file.date }}</td>
        <td class="td3">{{ file.size|filesizeformat }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% if old_releases[category.name] %}
<details>
    <summary class="download-text">{{ tr(older_releases) }}</summary>
    <table>
        <tbody>
        {% for file in old_releases[category.name]%}
        <tr>
            <td class="td4"><a href="{{ file.link }}">{{ file.basename }}</a></td>
            <td class="td1">{{ file.version }}</td>
            <td class="td2">{{ file.date }}</td>
            <td class="td3">{{ file.size|filesizeformat }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</details>
{% endif %}
{% endif %}
{% endfor %}
{% endblock %}