{% extends "base.html" %}

{% block content %}

<div id="intro-container">
	<img draggable="false" id="intro-image" src="/images/main_page_top_image.png"/>
	<div id="intro-text">
		{{ tr(intro) | safe}}
	</div>
</div>

<img draggable="false" id="epsystems" src="/images/EPsystems{{lang}}.png">

<div style="clear:both;"></div>

{% for product in products %}
<hr/>

<div class="epmain">

	<div>
		<div class="epimage_index">
			<a href="product/{{ product.name }}/" title="dggddg" class="epimage_index">
				<img draggable="false" src="/images/{{ product.picture[0] }}">
			</a>
		</div>
	</div>

	<div class="epdescription">
		<a href="product/{{ product.name }}/" class="index-h3">{{ tr(product.friendly_name) }}</a>
		<br>
        {% for description in product.description %}
		<span>{{ tr(description) | safe }}</span>
		{% endfor %}
		<br>
		<br>
		<ul>
			{% for tech in product.technical %}
			<li>{{ tr(tech) | safe }}</li>
			{% endfor %}
		</ul>
		<div class="button-container">
			<a href="product/{{ product.name }}/" class="button">{{ tr(more) }}</a>
		</div>
	</div>
</div>

{% endfor %}

<img draggable="false" id="our_partners_image" src="/images/our_partners{{lang}}.jpg">

<div style="clear:both;"></div>
<hr/>

<div class="parters">
	<div class="chipdip">
		<div id="our_partners_chipdip">
			<a href="https://www.chipdip.ru/">
				<img draggable="false" id="chipdip" src="/images/chipdip.jpg">
			</a>
		</div>
		<div id="chipdip_mail">
			<p>sales@chipdip.ru</p>
		</div>

		<div id="chipdip_phone">
			<p>+7(465)544-00-08</p>
		</div>
	</div>
	<div class="ostec">
		<div id="our_partners_ostec">
			<a href="https://ostec-group.ru/">
				<img draggable="false" id="ostec" src="/images/ostec.jpg">
			</a>
		</div>
		<div id="ostec_mail">
			<p>ostecelectro@ostec-group.ru</p>
		</div>
		<div id="ostec_phone">
			<p>+7(495)788-44-44 (доб. 5000)</p>
		</div>
	</div>
</div>


{% endblock %}