{% extends "base.html" %}

{% block content %}

<div id="intro-container">
	<img draggable="false" id="intro-image" src="/images/main_page_top_image.png"/>
	<div id="intro-text">
		{{ tr(intro) | safe}}
	</div>
</div>

<span class="sections_headers">{{ tr(main_section_title) }}</span>

<div style="clear:both;"></div>

{% for product in products %}
<hr/>

<div class="epmain">

	<div>
		<div class="epimage_index">
			<a href="product/{{ product.name }}/" class="epimage_index">
				<img draggable="false" src="/images/{{ product.picture }}" alt="Product picture">
			</a>
		</div>
	</div>

	<div class="epdescription">
		<a href="product/{{ product.name }}/" class="index-h3">{{ tr(product.friendly_name) }}</a>
		<br>
        {% for description in product.description %}
		<span>{{ tr(description) | safe }}</span>
		{% endfor %}
		<br>
		<br>
		<ul>
			{% for tech in product.technical %}
			<li>{{ tr(tech) | safe }}</li>
			{% endfor %}
		</ul>
		<div class="button-container">
			<a href="product/{{ product.name }}/" class="button">{{ tr(more_button) }}</a>
		</div>
	</div>
</div>

{% endfor %}

<span class="sections_headers">{{ tr(our_partners) }}</span>

<div style="clear:both;"></div>
<hr/>

<div class="partners">
	<div class="partner">
		<div>
			<a href="https://www.chipdip.ru/">
				<img draggable="false" src="/web/icons/partner_logo_chipdip.jpg" alt="chipdip">
			</a>
		</div>
		<div>
			<span>sales@chipdip.ru</span>
		</div>
		<div>
			<span>+7(465)544-00-08</span>
		</div>
	</div>
	<div class="partner">
		<div>
			<a href="https://ostec-group.ru/">
				<img draggable="false" src="/web/icons/partner_logo_ostec.jpg" alt="akmetron">
			</a>
		</div>
		<div>
			<span>ostecelectro@ostec-group.ru</span>
		</div>
		<div>
			<span>+7(495)788-44-44 (5000)</span>
		</div>
	</div>
	<div class="partner">
		<div>
			<a href="https://akmetron.ru/">
				<img draggable="false" src="/web/icons/partner_logo_akmetron.jpg" alt="akmetron">
			</a>
		</div>
		<div>
			<span>info-site@akmetron.ru</span>
		</div>
		<div>
			<span>+7(495)189-68-35</span>
		</div>
	</div>
</div>


{% endblock %}