<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ tr(title) }}</title>
<meta name="description" content="{{ tr(description) }}">
<meta name="keywords" content="{{ tr(tags) }}">
<link href="/static/default.css" rel="stylesheet" type="text/css" media="all" />
<link rel="icon" href="/static/ico/favicon.ico" type="image/x-icon">
</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<a href="/{{lang}}/">
				<!--TODO: optimization, more little logo.png-->
				<img src="/static/images/logo_big.png"/>
			</a>
		</div>
		<div id="menu">
			<ul>
				<a href="{{ ru_link }}" title="" class="header-lang-link">
					<img src="/static/ico/ru.svg" class="header-lang-icon" alt="Rus"/>
				</a>
				<a href="{{ en_link }}" title="" class="header-lang-link">
					<img src="/static/ico/gb.svg" class="header-lang-icon" alt="Eng"/>
				</a>
			</ul>
		</div>
	</div>
</div>
<div id="page-wrapper">
	<div id="page" class="container">

        {% block content %}
        {% endblock %}

    </div>
</div>
<div id="footer-wrapper">
	<div id="footer" class="container">
		<div class="footer-block" id="footer-first-block">
			<nobr>
				<img src="/static/ico/map.png" class="footer-icon"/>
				<div class="footer-multiline">
					{{ tr(address) | safe }}
				</div>
			</nobr>
		</div>
		<div class="footer-block">
			<img src="/static/ico/phone.png" class="footer-icon"/>
			+7(499)343-56-24
		</div>
		<div class="footer-block" id="footer-last-block">
			<img src="/static/ico/mail.png" class="footer-icon"/>
			info@physlab.ru
		</div>
	</div>
	<div id="footer-epc-block">
		{{tr(epc)}}
		<br>
		<a class="footer-link" href="https://physlab.ru/">physlab.ru</a>
	</div>
</div>
</body>
</html>