{% extends "base.html" %}

{% block content %}

<div id="intro-container">
	<img id="intro-image" src="/static/images/S1_lifestyle.jpg"/>
	<div id="intro-text">
		{{ tr(intro) | safe}}
	</div>
</div>

<img id="epsystems" src="/static/images/EPsystems{{lang}}.png">

<div style="clear:both;"></div>

{% for product in products %}
<hr/>

<div class="epmain">
	<a href="product/{{ product.name }}/" class="epimage">
		<img src="/static/images/{{ product.picture }}">
	</a>
	<div class="epdescription">
		<a href="product/{{ product.name }}/" class="index-h3">{{ tr(product.friendly_name) }}</a>
		<br>

		<span>{{ tr(product.description) | safe }}</span>

		<br>
		<br>

		<ul>
			{% for tech in product.technical %}
			<li>{{ tr(tech) | safe }}</li>
			{% endfor %}
		</ul>
		<div class="button-container">
			<a href="product/{{ product.name }}/" class="button">{{ tr(more) }}</a>
		</div>
	</div>
</div>

{% endfor %}

<img id="our_partners_image" src="/static/images/our_partners{{lang}}.jpg">

<div style="clear:both;"></div>
<hr/>

<div class="parters">
	<div class="chipdip">
		<div id="our_partners_chipdip">
			<a href="https://www.chipdip.ru/"><img id="chipdip" src="/static/images/chipdip.jpg"></a>
		</div>
		<div id="chipdip_mail">
			<p>sales@chipdip.ru</p>
		</div>

		<div id="chipdip_phone">
			<p>+7(465)544-00-08</p>
		</div>
	</div>
	<div class="ostec">
		<div id="our_partners_ostec">
			<a href="https://ostec-group.ru/"><img id="ostec" src="/static/images/ostec.jpg"></a>
		</div>
		<div id="ostec_mail">
			<p>ostecelectro@ostec-group.ru</p>
		</div>
		<div id="ostec_phone">
			<p>+7(495)788-44-44 (доб. 5000)</p>
		</div>
	</div>
</div>


{% endblock %}