{% extends "base.html" %}

{% block content %}

<div id="intro-container">
	<img id="intro-image" src="/static/images/usbadc10_main.jpg"/>
	<div id="intro-text">
		{{ tr(intro) | safe}}
	</div>
</div>

<img class="epsystems" src="/static/images/specifications{{lang}}.jpg"/>

<div style="clear:both;"></div>

{% for product in products %}
<hr/>

<div class="epmain">
	<a href="product/{{ product.name }}/" class="epimage">
		<div class="charts_img">
			<img src="/static/images/charts.png"/>
		</div>
	</a>
	<div class="epdescription">
		<a href="product/{{ product.name }}/" class="index-h3">{{ tr(product.friendly_name) }}</a>
		<br>

		<span>{{ tr(product.description) | safe }}</span>

		<br>
		<br>

		<ul>
			{% for tech in product.technical %}
			<li>{{ tr(tech) | safe }}</li>
			{% endfor %}
		</ul>
		<div class="button-container">
			<a href="product/{{ product.name }}/" class="button">{{ tr(more) }}</a>
		</div>		
	</div>
</div>

<!--Full software kit-->

{% if archive %}
<div class="download-header-block">
    <a id="download-sdk" href="{{ archive.link }}">  {{ tr(archive_description.friendly_name) }} </a>
</div>
    {% if archive_description.description %}
<div class="download-text">
    {{ tr(archive_description.description) | safe }}
</div>
    {% endif %}
{% endif %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Z6V8GTE6FZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-Z6V8GTE6FZ');
</script>

{% endfor %}
{% endblock %}